<!DOCTYPE html>
<html>
  <head>
    <title>STUDY AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=" "container>
        <h1>Your Notes</h1>
        <p class = "subtitle"> Paste your notes and get an instant summary.</p>
        <form action="/summarize " method = "POST">
            <textarea name = "notes" rows="12" placeholder="Paste your lecture notes here..."></textarea>
            <br>
            <button type="submit">/Summarize</button>
        </form>
    <div>{{ notes | safe }}</div>
  </body>
</html>